<div class="formulario">
  <form action="">
    <div class="form">
      <div class="inputs">
        <label for="nome">Nome*</label>
        <input type="text" name="nome" id="nome" placeholder="Informe seu nome">
        <label for="email">Email*</label>
        <input type="email" name="email" id="email" placeholder="Informe seu email">
      </div>
      <div class="inputs">

        <label for="sobrenome">Sobrenome*</label>
        <input type="text" name="sobrenome" id="sobrenome" placeholder="Informe seu sobrenome">

        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone" placeholder="Informe seu telefone">
      </div>
    </div>

    <label for="mensagem">Mensagem*</label>
    <input type="text" name="mensagem" id="mensagem" placeholder="Manda aí a sua mensagem pra gente ;)">
    <button>Enviar mensagem</button>

  </form>
</div>
